{% extends 'myindex.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'my.css' %}">
{% block content %}
<ul class="nav nav-pills">
  <li><a href="{% url 'post_job' %}">post job</a></li>
  <li class="active"><a href="#">Job response</a></li>
</ul>
<div class="box">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-12">
                  <div class="box-container">
                      <div class="box-heading">
                          <div class="col-sm-10"><input type="hidden" id="jobId" value="1">
                              <h2>{{obj.title}}</h2>
                          </div>
                          <div class="col-sm-2">
                              <p class="pull-right"><a href="#" class="btn btn-default"><i class="fa fa-edit"></i> Edit Job</a></p>
                          </div>
                      </div>
                      <div class="box-body">
                          <div class="row">
                              <div class="col-sm-6">
                                  <div class="row">
                                      <div class="col-sm-6">
                                          <p class="h">Total Applications</p>
                                      </div>
                                      <div class="col-sm-4">
                                          <p class="label label-success">25</p>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-sm-6">
                                          <p class="h">Shortlisted Candidates</p>
                                      </div>
                                      <div class="col-sm-4">
                                          <p class="label label-info">0</p>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-sm-6">
                                          <p class="h">Selected Candidates</p>
                                      </div>
                                      <div class="col-sm-4">
                                          <p class="label label-warning">5</p>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-sm-6">
                                  <div class="row">
                                      <div class="col-sm-12">
                                          <a href="#" class="btn btn-default pull-right body-btn"><i class="fa fa-eye"></i> View Job</a>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-sm-12">
                                          <a href="../update_status.php?type=job&amp;id=1&amp;value=0" class="btn btn-default pull-right body-btn"><i class="fa fa-times"></i> Close Job</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="box">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-sm-12">
                          <div class="box-container application">
                              <div class="box-heading">
                                  <div class="col-sm-10">
                                      <p>Applications</p>
                                  </div>
                                  <div class="col-sm-2">
                                      <p class="pull-right"><a href="#" class="btn btn-default">Export</a></p>
                                  </div>
                              </div>
                              <div class="box-body">
                                  <div class="application_view">
                                      <ul class="nav nav-pills">
                                          <li class="active" value="pending"><a>Pending <span class="badge">20</span></a></li>
                                          <li value="shortlisted"><a>Shortlisted <span class="badge">0</span></a></li>
                                          <li value="selected"><a>Selected <span class="badge">5</span></a></li>
                                          <li value="rejected"><a>Rejected <span class="badge">5</span></a></li>
                                      </ul>
                                  </div>
                                  <div class="tab-content">
                                      <div class="tab-panel">
                                          <div class="row">
                                              <div class="col-sm-3">
                                                  <div class="left-tab-view fixht">
                                                      <ul class="list-group" id="all-user-info"><li id="117" class="actived"><a><p class="truncate">Rohan_AITR</p><p></p></a></li><li id="5" class=""><a><p class="truncate">info@sapsterit.com</p><p></p></a></li><li id="5" class=""><a><p class="truncate">info@sapsterit.com</p><p></p></a></li><li id="5" class=""><a><p class="truncate">info@sapsterit.com</p><p></p></a></li><li id="399" class=""><a><p class="truncate">Akash Gupta</p><p></p></a></li><li id="399" class=""><a><p class="truncate">Akash Gupta</p><p></p></a></li></ul>
                                                  </div>
                                              </div>
                                              <div class="col-sm-9">
                                                  <div class="right-tab-view" id="user-info"></div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

{% endblock %}
