{% extends 'myindex.html'%}
{% block content %}

<!-- {{msg}} -->
<ul class="nav nav-pills">
  <li><a href="{% url 'post_job' %}">post job</a></li>
  <li class="active"><a href="{% url 'posted_job' %}">posted job</a></li>
</ul>

<section class="mt-40">
  <h4>Current jobs</h4>
    <table id="job-table" class="table table-responsive" >
                                <thead>
                                <tr class="table-row-heading" style="border: 1px solid rgba(0, 0, 0, 0.07);">
                                    <th width="5%">Sr.No.</th>
                                    <th width="40%">Job Title</th>
                                    <th width="25%">Total Application</th>
                                    <th width="10%">Status</th>
                                    <th width="20%">View Applications</th>
                                    <th width="15%">Actions</th>
                                </tr>
                                </thead>
                                <tbody id='posted_tbody'>
                                {% for obj in obj %}


                                </tbody>
                                <tbody id='posted_tbody'>
                                      <tr class="jobs-detail">
                                            <td align="center">{{obj.id}}</td>
                                            <td>
                                                <a href="#" style="color: #2980b9;">{{obj.title}}</a><br>
                                                <a style="color: #7f8c8d; font-size: 12px;">Skills :
                                                    <span>{{obj.skills}}</span></a><br>
                                                <a style="color: #7f8c8d; font-size: 12px;">Application Deadline :
                                                    <span>{{obj.interview_date}}</span></a>
                                            </td>
                                            <td>
                                                <table style="width:100%;" class="table table-responsive md-job-detail">
                                                    <tbody>
                                                    <tr>
                                                        <td><span>Total Applications :&nbsp;25</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><span>Shortlisted :&nbsp;25</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><span>Selected :&nbsp;20</span></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td>
                                          <a href="#" style="color: #27ae60;font-weight: bold;line-height: 110px" title="click to disable" id="status-btn">LIVE</a>
                                                                                        </td>
                                            <td><a href='view_application/{{obj.id}}' class="btn btn-primary" style="font-size: 12px">View Applications</a></td>
                                         <td> <a href='update_job/{{obj.id}}'>update</a> / <a href='delete_job/{{obj.id}}' onclick="return confirm('Are you sure want to delete.');">delete</a></td>
                                        </tr>


          {% endfor %}

                                </tbody>
                            </table>

</section>

{% endblock %}
