{% extends 'myindex.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h2>Update</h2>
<form  id='myjob-form' action='data-action="http://127.0.0.1:8000/api/v1/jobs/"' method='post' action='#'>
  {% csrf_token %}
  {{form|crispy}}
  <input type="submit" name="" value="submit">
  </form>
{% endblock %}
