{% extends 'myindex.html' %}
{% load crispy_forms_tags %}
{% block content %}
<ul class="nav nav-pills">
  <li class="active"><a href="{% url 'post_internship' %}">post internship</a></li>
  <li><a href="{% url 'posted_internship' %}">posted internship</a></li>
</ul>
<!-- <a href="{% url 'posted_internship' %}">posted_internship</a> -->
<form  id='myjob-form' data-action="http://127.0.0.1:8000/api/v1/jobs/" method='post' action='#'>
  {% csrf_token %}

      {{ form1|crispy }}


  <input type="submit" name="" value="submit">
   </form>


{% endblock %}
<!--
      title {{form.title}}<br><br>

      profile {{form.profile}} <br><br>
      nature{{form.nature}}<br><br>
      qualification{{form.qualification}}<br><br>
      location {{form.location}}<br><br>
      city{{form.city}}<br><br>
      paid{{form.paid}}<br><br>
      salary{{form.salary}}<br><br>
      duration{{form.duration}}<br><br>
      experience{{form.experience}}<br><br>
      description{{form.description}}<br><br>
      linkedin_id{{form.linkedin_id}}<br><br>
      interview_date{{form.interview_date}}<br><br>
      skills{{form.skills}}<br><br>
      requirements{{form.requirements}}<br><br>
      status{{form.status}}<br><br> -->
