#job-head{
  background-color:#1a98bf;
}
#section{
  background: #f1f1f1;

}
.form-group {
   background-color:green!important;

}
.control-label col-md-2{
  font-size: 16px;
  font-weight: normal;
  color: red!important;
}
#posted_internship{
  width:500px;
  height: auto;

}
