.navbar-inverse {
    background-color: #455584;
    border-color: #286090;
}
.navbar-inverse .navbar-brand {
    color: #f99a08;
}
.navbar-brand {
    float: left;
    height: 60px;
    padding: 15px 15px;
    font-size: 25px;
    line-height: 34px;
}

.sidenav {
  width: 230px!important;
  height:100%;
  position: fixed;
  z-index: 1;
  top: 62px;
  left: 0px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  /* text-align: center; */

}

.sidenav a {
  padding: 0px 17px 23px 75px ;
  margin-top: 5%;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  /* height: 100%; */
  color: #055396;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.main {
  margin-left: 250px; /* Same width as the sidebar + left position in px */
  font-size: 14px;
; /* Increased text to enable scrolling */
  padding:50px 35px;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#myjob-form{
  margin-right: 40px!important;

}

.nav {
   padding-left:15px;
   margin-top: -40px;
 }

 a {
     color: #2469a5;

}
#posted_internship{
  background-color: #eeeeee;
}


#job-table{
  border:1px solid #F4F4F4;
   border-radius: 4px;
}

#job-table.tbody{
   style="background: #fff;
 }
#posted_tbody{
  background: #fff;

}
